{% load unicorn %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

    <script src="https://cdn.tailwindcss.com/"></script>
    {% unicorn_scripts %}
    {% block css_files %}
    {% endblock css_files %}
  </head>
  <body class="bg-slate-50">
    {% csrf_token %}
    {% include "books/partials/navbar.html" %}
  
  <div class="container mx-auto px-4">
      {% block content %} 
      {% endblock %}
  </div>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      htmx.logAll();
    </script>
  </body>
</html>
